# LAB_0

## EXERCISE 1

In [7]:
data <- read.table("data_1.txt", header=T)
data

   Loch         vol_km3 vol_mi3 area_km2 area_mi2 length_km length_mi
1  Loch_Ness    7.45    1.790   56.0     22.0     36.2      22.5
2  Loch_Lomond  2.60    0.620   71.0     27.0     36.0      22.0
3  Loch_Morar   2.30    0.550   26.7     10.3     18.8      11.7
4  Loch_Tay     1.60    0.380   26.4     10.2     23.0      14.0
5  Loch_Awe     1.20    0.290   39.0     15.0     41.0      25.0
6  Loch_Maree   1.09    0.260   28.6     11.0     20.0      12.0
7  Loch_Ericht  1.08    0.260   18.6      7.2     23.0      14.0
8  Loch_Lochy   1.07    0.260   16.0      6.2     16.0       9.9
9  Loch_Rannoch 0.97    0.230   19.0      7.3     15.7       9.8
10 Loch_Shiel   0.79    0.190   19.5      7.5     28.0      17.0
11 Loch_Katrine 0.77    0.180   12.4      4.8     12.9       8.0
12 Loch_Arkaig  0.75    0.180   16.0      6.2     19.3      12.0
13 Loch_Shin    0.35    0.084   22.5      8.7     27.8      17.3
   max_depth_m max_depth_ft mean_depth_m mean_depth_ft
1  227         745          132.0        433
2  190         620           37.0        121
3  310         1,020         87.0        285
4  150         490           60.6        199
5   94         308           32.0        105
6  114         374           38.0        125
7  156         512           57.6        189
8  162         531           70.0        230
9  134         440           51.0        167
10 128         420           40.0        130
11 151         495           43.4        142
12 109         358           46.5        153
13  49         161           15.5         51

In [11]:
max(data["vol_km3"])

[1] 7.45

In [12]:
min(data["vol_km3"])

[1] 0.35

In [19]:
sorted_area <- sort(data[["area_km2"]])
sorted_area

 [1] 12.4 16.0 16.0 18.6 19.0 19.5 22.5 26.4 26.7 28.6 39.0 56.0 71.0

In [16]:
sorted_area[1]

[1] 12.4

In [18]:
sorted_area[13]

[1] 71

In [20]:
sum(data["area_km2"])

[1] 371.7

## EXERCISE 2

In [21]:
men100m_html <- read_html("http://www .alltime-athletics.com/m_100ok.htm")
men100m _html |> html_nodes(xpath = "//pre") |> html_text() -> men100m_list
men100m_tbl <- read_fwf(men100m_list)

ERROR: Error in parse(text = x, srcfile = src): <text>:2:9: input inatteso
1: men100m_html <- read_html("http://www .alltime-athletics.com/m_100ok.htm")
2: men100m _
           ^